@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: Yekan, sans-serif;
}

@layer base {
  @font-face {
    font-family: Yekan;
    font-weight: normal;
    src: url(../assets/fonts/yekan/Yekan.woff) format('woff');
  }
}

.bg-blue-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(34 139 230 / var(--tw-bg-opacity));
}

.bg-blue-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(208 235 255 / var(--tw-bg-opacity));
}

.bg-brand-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(32 141 142 / var(--tw-bg-opacity));
}

.bg-brand-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(194 247 250 / var(--tw-bg-opacity));
}

.bg-cyan-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(21 170 191 / var(--tw-bg-opacity));
}

.bg-cyan-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(197 246 250 / var(--tw-bg-opacity));
}

.bg-grape-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(190 75 219 / var(--tw-bg-opacity));
}

.bg-grape-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(243 217 250 / var(--tw-bg-opacity));
}

.bg-gray-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(52 58 64 / var(--tw-bg-opacity));
}

.bg-gray-dark\/50 {
  background-color: rgb(52 58 64 / 0.5);
}

.bg-gray-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(134 142 150 / var(--tw-bg-opacity));
}

.bg-gray-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(241 243 245 / var(--tw-bg-opacity));
}

.bg-green-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(211 249 216 / var(--tw-bg-opacity));
}

.bg-indigo-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(76 110 245 / var(--tw-bg-opacity));
}

.bg-indigo-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(219 228 255 / var(--tw-bg-opacity));
}

.bg-lime-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(130 201 30 / var(--tw-bg-opacity));
}

.bg-orange-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(253 126 20 / var(--tw-bg-opacity));
}

.bg-orange-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(255 232 204 / var(--tw-bg-opacity));
}

.bg-pink-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(230 73 128 / var(--tw-bg-opacity));
}

.bg-pink-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(255 222 235 / var(--tw-bg-opacity));
}

.bg-red-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(250 82 82 / var(--tw-bg-opacity));
}

.bg-red-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(255 227 227 / var(--tw-bg-opacity));
}

.bg-teal-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(18 184 134 / var(--tw-bg-opacity));
}

.bg-teal-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(195 250 232 / var(--tw-bg-opacity));
}

.bg-transparent {
  background-color: transparent;
}

.bg-violet-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(121 80 242 / var(--tw-bg-opacity));
}

.bg-violet-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(229 219 255 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-yellow-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(250 176 5 / var(--tw-bg-opacity));
}

.bg-yellow-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(255 243 191 / var(--tw-bg-opacity));
}

.bg-blue-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(208 235 255 / var(--tw-bg-opacity));
}

.bg-brand-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(32 141 142 / var(--tw-bg-opacity));
}

.bg-gray-dark\/50 {
  background-color: rgb(52 58 64 / 0.5);
}

.bg-gray-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(134 142 150 / var(--tw-bg-opacity));
}

.bg-gray-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(241 243 245 / var(--tw-bg-opacity));
}

.bg-red-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(250 82 82 / var(--tw-bg-opacity));
}

.bg-red-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(255 227 227 / var(--tw-bg-opacity));
}

.bg-teal-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(18 184 134 / var(--tw-bg-opacity));
}

.bg-teal-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(195 250 232 / var(--tw-bg-opacity));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-gray-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(52 58 64 / var(--tw-bg-opacity));
}

.bg-pink-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(255 222 235 / var(--tw-bg-opacity));
}

.bg-pink-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(230 73 128 / var(--tw-bg-opacity));
}

.bg-grape-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(243 217 250 / var(--tw-bg-opacity));
}

.bg-grape-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(190 75 219 / var(--tw-bg-opacity));
}

.bg-violet-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(229 219 255 / var(--tw-bg-opacity));
}

.bg-violet-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(121 80 242 / var(--tw-bg-opacity));
}

.bg-indigo-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(219 228 255 / var(--tw-bg-opacity));
}

.bg-indigo-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(76 110 245 / var(--tw-bg-opacity));
}

.bg-blue-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(34 139 230 / var(--tw-bg-opacity));
}

.bg-cyan-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(197 246 250 / var(--tw-bg-opacity));
}

.bg-cyan-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(21 170 191 / var(--tw-bg-opacity));
}

.bg-brand-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(194 247 250 / var(--tw-bg-opacity));
}

.bg-green-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(211 249 216 / var(--tw-bg-opacity));
}

.bg-green-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(64 192 87 / var(--tw-bg-opacity));
}

.bg-lime-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(233 250 200 / var(--tw-bg-opacity));
}

.bg-lime-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(130 201 30 / var(--tw-bg-opacity));
}

.bg-yellow-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(255 243 191 / var(--tw-bg-opacity));
}

.bg-yellow-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(250 176 5 / var(--tw-bg-opacity));
}

.bg-orange-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(255 232 204 / var(--tw-bg-opacity));
}

.bg-orange-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(253 126 20 / var(--tw-bg-opacity));
}
