@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Yekan, sans-serif;
}

@layer base {
  @font-face {
    font-family: Yekan;
    font-weight: normal;
    src: url(../assets/fonts/yekan/Yekan.woff) format('woff');
  }
}
